@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Garamond);

{
	margin: 0; padding: 0;
}

body {text-align:center;
background-image: url(http://i.imgur.com/rwdcIGP.jpg); background-size: 2000px; background-attachment: fixed; background-repeat:no-repeat;
}

h1 {text-align:center;font-size: 100px;color: white; font-family: 'Oswald'; line-height: 1em;
 margin: 1em;}
h2 {text-align: center;font-size: 52px;color:white;font-family: 'Garamond';}
p {text-align: center;font-size: 25px;color:white;font-family: 'Garamond'; margin: 0em 22em;}

footer {text-align: center;color: white}



#about {text-align: center;}

}

header {

    padding: 100px;
}

nav {

    padding: 20px;
    color:white;
    font-size: 25px
}

footer {

    padding: 20px;
}

main {

    padding: 20px;
}


a:link {
    background-color: none;
}

a:visited {
    background-color: olive;
}

a:hover {
    background-color: none;
}

a:active {
    background-color: #FFFFFF;
} 
ul {
    list-style: none;
    margin: 0;
    padding: 100px;
}

li {
  float: right;
  width: 10%;
  height: 6em;
  text-align: center;
  line-height: 6em;
  color: #FFF;
  background: #000;

