@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Garamond);

{
	margin: 0; padding: 0;
}

body { text-align: center;
background-image: url(http://i.imgur.com/rwdcIGP.jpg); background-size: 2000px; background-attachment: fixed; background-repeat:no-repeat;
}

h1 {text-align:center;font-size: 35px;color: white; font-family: 'Oswald';}
h2 {text-align: center;font-size: 52px;color:white;font-family: 'Garamond';}
p {text-align: center;font-size: 25px;color:white;font-family: 'Garamond';}

nav {
    font-size: 1.8em;
    float: right;
} 

nav a { 
    text-decoration: none;
    color: black;
    margin: 1.8em;
    display: inline-block;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
  width: 20%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em;
  color: #000;
  background: #fff;
}