@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Garamond);

{
	margin: 0; padding: 0;
}

body {text-align:center;
background-image: url(http://i.imgur.com/rwdcIGP.jpg); background-size: 2000px; background-attachment: fixed; background-repeat:no-repeat;
}

h1 {text-align:center;font-size: 100px;color: white; font-family: 'Oswald'; line-height: 1em;
 margin: 1em;}
h2 {text-align: center;font-size: 52px;color:white;font-family: 'Garamond';}
p {text-align: center;font-size: 25px;color:none;font-family: 'Garamond';}

footer {text-align: center;color: white}

#face {float: left}

#about {text-align: center;}

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: white;
    border: none;
    padding: 20px;
    float: left;
    width: 25%;
}

#right {
    background-color: white;
    border: none;
    padding: 20px;
    float: right;   
    width: 25%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {

    padding: 100px;
}

nav {

    padding: 20px;
    color:white;
    font-size: 25px
}

footer {

    padding: 20px;
}

main {

    padding: 20px;
}


a:link {
    background-color: none;
}

a:visited {
    background-color: olive;
}

a:hover {
    background-color: none;
}

a:active {
    background-color: #FFFFFF;
} 

