@import url(https://fonts.googleapis.com/css?family=Oswald);

body {text-align:center;
background-image: url(http://i.imgur.com/64dkz60.jpg); background-size: 2000px;}

h1 {text-align:center;font-size: 100px;color: white; font-family: 'Oswald'; line-height: 1.5em;
 margin: 2em;
}


h2 {text-align: center;font-color:white;font-family: Garamond; color: white
	;}
	div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;}

#hex {
	background: #ffffff;
}

#rgb {
	background: rgb(255,255,255);
}