body {
  text-align: center;
  background: url(http://i.imgur.com/6L6qXNa.jpg);
  background-size: center;
  background-repeat;
  color: #92B828;
  font-family: Helvetica}

p {font-size: 36px;} 
h1 {font-size: 100px;} 
h2 {font-style: italic;} 
h5 {font-size: 36px;}
ul { text-align: center;list-style-type: none;}


