body {
  text-align: center;
  background: white;
  background-size: 2000px;
  background-repeat;
  color: #92B828;
  font-family: Garamond}

p {font-size: 36px;} 
h1 {font-size: 100px;} 
h2 {font-style: italic;} 
h5 {font-size: 36px;}
ul { text-align: center;list-style-type: none;}


