@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);

{
	margin: 0;
	padding: 0;
}

body {text-align:center;
background-image: url(http://i.imgur.com/rwdcIGP.jpg); background-size: 2000px; background-attachment: fixed; background-repeat:no-repeat;}

h1 {text-align:center;font-size: 100px;color: white; font-family: 'Oswald'; line-height: 1.5em;
 margin: 2em;
}
h2 {text-align: center;font-color:white;font-family: "Cormorant Garamond"; color: white;font-size:36px;}

a:link {
    background-color: none;
}

a:visited {
    background-color: olive;
}

a:hover {
    background-color: black;
}

a:active {
    background-color: #FFFFFF;
} 
a {
    color: #FFFFFF;
    text-decoration: none;
}
