body {
  text-align: center;
  background: url(images/airplant.jpg);
  background-size: contain
 ;
  background-repeat:no-repeat;
  color: #000000;
  font-family: Helvetica
} p {
    font-size: 36px;
  } h1 {
    
    font-size: 75px;
     } h5 {
    font-size: 18px;